<html lang="en">
  <% include ../helpers/styleimports %>

  <header>
      <% include ../helpers/navbar %>
  </header>

  <main>
    <head>
        <% include ../helpers/head %>
    </head>

    <body>

      <div class="jumbotron jumbotron-center">
          <h1>Projects</h1>
          <p class="lead">
            Here are some public projects I'm working on.
          </p>
      </div>


      <div class="container">
          <div class="code-container">
            <img src="/images/webpage.jpg"/>
            <div>
              <h3>This Webpage</h3>
              <p>I learned more Javascript, HTML, CSS and how to use Node.</p>
          </div>
      </div>

    </body>
  </main>

</html>